In [1]:
import pandas as pd

In [4]:
dataset=pd.read_csv("dataset/Salary_Data.csv")

In [5]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
independent=dataset[["YearsExperience"]]

In [7]:
dependent=dataset[["Salary"]]

In [9]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [25]:
x_train

    YearsExperience
22              7.9
0               1.1
16              5.1
7               3.2
18              5.9
20              6.8
3               2.0
23              8.2
13              4.1
4               2.2
5               2.9
12              4.0
17              5.3
14              4.5
28             10.3
25              9.0
6               3.0
9               3.7
11              4.0
21              7.1
2               1.5

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
regressor=LinearRegression()

In [51]:
regressor.fit(x_train,y_train)

LinearRegression()

In [52]:
bias=regressor.intercept_   #y=wx+b

In [53]:
bias

array([26777.3913412])

In [54]:
weight=regressor.coef_   #w

In [55]:
weight

array([[9360.26128619]])

In [32]:
weight

array([[9864.01001535]])

In [34]:
bias

array([22822.89430653])

In [56]:
y_pred = regressor.predict(x_test)

In [57]:
y_pred

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [58]:
y_test

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0
27  112635.0
11   55794.0
17   83088.0

In [59]:
x_test

    YearsExperience
2               1.5
28             10.3
13              4.1
10              3.9
26              9.5
24              8.7
27              9.6
11              4.0
17              5.3

In [60]:
y_test

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0
27  112635.0
11   55794.0
17   83088.0

In [61]:
from sklearn.metrics import r2_score

In [62]:
r_score= r2_score(y_test,y_pred)

r_score

In [47]:
r_score

0.9353176983823208

In [63]:
r_score # with random state=0

0.9740993407213511

In [65]:
import pickle

In [66]:
filename="salary_model.sav"

In [70]:
pickle.dump(regressor, open("dataset"+"/"+filename,'wb'))

In [73]:
loadfile = pickle.load(open("dataset"+"/"+filename,'rb'))

In [80]:
loadfile.predict([[15]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])